.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    width: 60%;
    max-width: 600px;
    height: 70vh;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(145, 142, 142);
    color: #302e2e;
    border-radius: 7px;
}

.contact-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #F99417;
}

.contact-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* margin-top: 10px; */
}

.contact-container label {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-container input[type='email'],
.contact-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #ddd;
    outline: 0;
    border: 0;

}
.contact-container textarea{
    height: 5em;
    resize: none;
}

.invalid-email {
    border-color: #ff4136;
}

.error-message {
    color: #F99417;
    margin-top: 5px;
    font-size: 1rem;
}

.contact-container button[type='submit'] {
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #f99317e5;
    color: #1b1b1b;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-out;

}

.contact-container button[type='submit']:hover {
    background-color: #f99317;
    transform: scale(1.01);
    /* box-shadow: 0 0 10px 0 rgb(31, 30, 30); */
}