@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

@media screen and (min-width: 940px) {


    .home-section1 {
        margin: 0;
        padding: 4em;
        height: 90vh;
        background-color: #dadbd0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .home-section1 .highlighted {
        color: #FF8C8C;
    }

    .home-section1 .text-section {
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
        max-width: 50%;
        text-align: center;
    }

    .home-section1 .home-graphs img {
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .home-section1 h2 {
        /* margin-top: 6em; */
        max-width: 100%;
        color: #545454;
        text-align: left;
        font-size: 2.1em;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
    }

    .home-section1 a {
        height: 3em;
        width: 10em;
        background-color: #00c1cbe1;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
    }

    .home-section1 a:hover {
        background-color: #00C2CB;
    }
}

/* Mobile View */
@media screen and (max-width: 600px) {


    .home-section1 {
        margin: 0;
        padding: 0;
        /* height: 100vh; */
        background-color: #dadbd0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        gap: 2em;
    }

    .home-section1 .highlighted {
        color: #FF8C8C;
    }

    .home-section1 .text-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }

    .home-section1 .home-graphs img {
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .home-section1 .home-graphs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-section1 h2 {
        /* margin-top: 6em; */
        max-width: 100%;
        color: #545454;
        text-align: left;
        font-size: 1.1em;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
    }

    .home-section1 a {
        height: 2em;
        width: 8em;
        background-color: #00c1cbe1;
        border: none;
        border-radius: 5px;
        font-size: 1.1em;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
    }

    .home-section1 a:hover {
        background-color: #00C2CB;
    }


}

/* ________________________________________________from 600px to 1000px____________________________________________________ */
@media screen and (max-width: 1000px) and (min-width: 600px) {

    /* Section 1 */
    .home-section1 {
        margin: 0;
        padding: 0;
        height: 120vh;
        background-color: #dadbd0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
        gap: 2em;
    }

    .home-section1 .highlighted {
        color: #FF8C8C;
    }

    .home-section1 .text-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }

    .home-section1 .home-graphs img {
        width: 90%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .home-section1 .home-graphs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-section1 h2 {
        /* margin-top: 6em; */
        max-width: 85%;
        color: #545454;
        text-align: left;
        font-size: 1.9em;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
    }

    .home-section1 a {
        height: 3em;
        width: 10em;
        background-color: #00c1cbe1;
        border: none;
        border-radius: 5px;
        font-size: 1.2em;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
    }

    .home-section1 a:hover {
        background-color: #00C2CB;
    }
}