@media screen and (min-width: 1100px) {
    .education {

        background-color: #F3EFE0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 5em 0; */
    }

    .education h2 {
        font-size: 3rem;
        /* margin-bottom: 20px; */
        text-align: center;
        color: #000;
        /* margin-bottom: 2em; */
    }

    .timeline {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        gap: 1rem;
        width: 100%;
    }

    .timeline li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 27%;
        height: 350px;
        padding: 50px 0;
        color: #ece6e6;
        padding: 10px 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background-color: #7A4069;
    }

    .timeline li h3{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .timeline-date {
        font-weight: bold;
        width: 100%;
    }

    .timeline-school {
        font-style: italic;
    }

}

@media screen and (max-width: 1100px) {
    .education {
        margin-top: 50px;
        /* height: 70vh; */
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .education h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        color: #473C33;
        margin-bottom: 2em;
    }

    .timeline {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 1em;
        gap: 2em;
    }

    .timeline li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        height: 250px;
        padding: 50px 0;
        color: #000;
        padding: 10px 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);


    }

    .timeline li:nth-child(1) {
        background-color: #86A3B8;
    }

    .timeline li:nth-child(2) {
        background-color: #E8D2A6;
    }

    .timeline li:nth-child(3) {
        background-color: #F48484;
    }

    .timeline-date {
        font-weight: bold;
        width: 100%;
    }

    .timeline-school {
        font-style: italic;
    }

}