@media screen and (max-width: 600px) {
    .intro-container {
        background-color: #EEEEEE;
        padding: 2em ;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 80vh; */
    }

    .intro-header {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 30px;
        color: #E96479;
    }

    .intro-text {
        font-size: 24px;
        line-height: 1.5;
        width: 100%;
    }

}


@media screen and (min-width: 600px) {
    .intro-container {
        background-color: #EEEEEE;
        padding: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80vh;
    }

    .intro-header {
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #E96479;
    }

    .intro-text {
        font-size: 24px;
        line-height: 1.5;
        width: 70%;
    }
}