.recommendation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #fafafa;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.recommendation-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendation-right {
    flex: 2;
    display: flex;
    align-items: center;
}

.recommendation img {
    margin-top: 10px;
    /* padding: 10px; */
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 4px solid #fa8072f5;
    /* margin-bottom: 0.5rem; */
}

.recommendation-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fa8072f5;
}

.recommendation-text {
    padding: 10px;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
    color: #333;
}