.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 50px;
    /* width: 100%; */
    background-color: #fafafa;

}

.services h2 {
    font-size: 2rem;
    margin-bottom: 50px;
    color: #454545;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    width: 100%;
}

.service {
    display: flex;
    /* margin: 30px; */
    width: 400px;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.service-icon {
    margin-right: 20px;
    font-size: 2rem;
    color: #0969fa;
}

.service-title {
    color: #0969fa;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-description {
    font-size: 1rem;
    line-height: 1.5;
}

@media screen and (max-width: 940px) {
    .services {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        padding: 1em;
        /* width: 100%; */
    }

    .services-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3em;
        padding: 0;
        width: 100%;
    }

    .service {
        width: 80%;
        flex-direction: column;
        padding: 1em;
    }

    .service-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        text-align: center;
    }

}