@media screen and (min-width: 600px) {
.radar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 50px;
    background-color: #F1F1F1;
}
.radar h1{
    font-size: 4rem;
    margin-bottom: 50px;
    width: 90%;
    
    color: #333;
}
.radar span{
    font-size: 1rem;
    display: block;
    color: #4D455D;
}


}
@media screen and (max-width: 600px) {
    .radar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        /* padding: 50px; */
        background-color: #fafafa;
    }
    .radar h1{
        font-size: 2rem;
        margin-bottom: 2em;
        width: 90%;
        font-weight: 600;
        color: #AD7BE9;
    }
    .radar span{
        font-size: 1.1rem;
        display: block;
        color: #4D455D;
    }
   
    }

    @media screen and (max-width: 480px) {
        .radar{
            display: none;
        }
        
    }