.text-writer {
    /* position: relative; */
    line-height: 1.5;
    color: #1f1e1e;
    text-align: center;
    width: 200px;
    top: 50%;
    font-size: 2em;
    text-align: center;
}
.text-writer h1{
    margin: 0;
}

.text-writer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('marker-background.jpg');
    opacity: 0.5;
}

.text-writer span {
    display: inline-block;
    margin-right: 5px;
}

.text-writer .cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    background-color: #333;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}