.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #ffffff;
  width: 100vw;

}

.content {
  flex: 1;
  margin-top: 4em;
  background-color: #f1f1f1;
}